body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(246, 241, 234);
}

h2 {
  text-align: center;
}

.form {
  display: flex;
  width: 300px;
  border: 2px solid; 
  padding: 20px;
  flex-direction: column;
  background-color: white;
}

.form__input {
  width: 100%;
  padding: 10px;
  /* margin: 10px 0; */
}
button {
  margin: 5px 35%;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  width: 100px;
  padding: 10px;
  border-radius: 5px;
  
}
div.remember {
  flex-direction: row;
  justify-content: space-between;
}